<a href="https://colab.research.google.com/github/Untick/InspectrumClinic_RS_gr1/blob/main/Doronin%20Anton/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Стажировка Профпатолог

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os 
%matplotlib inline

In [2]:
df_orginal = pd.read_excel('/content/drive/MyDrive/Profpatolog/датасет профпатолог часть.xlsx')
df_orginal.head()

,ДокументПрохождениеМедосмотра,Клиент,КлиентДатаРождения,КлиентПол,КлиентПолПредставление,ДатаЗавершенияМедосмотра,ТипМедосмотра,ТипМедосмотраПредставление,ПсихОсвидетельствование,Контрагент,...,Оториноларингология3_Аудиометрия1_Значение,Оториноларингология3_Аудиометрия1_ЗначениеПредставление,Оториноларингология1_ЖалобыДополнение_Значение,Оториноларингология1_ЖалобыДополнение_ЗначениеПредставление,Стоматология2_ВП2_Значение,Стоматология2_ВП2_ЗначениеПредставление,Терапия2_ЗаключениеФОГК_Значение,Терапия2_ЗаключениеФОГК_ЗначениеПредставление,Офтальмология1_ДвигательныйАппаратГлазДополнение_Значение,Офтальмология1_ДвигательныйАппаратГлазДополнение_ЗначениеПредставление
0,7f41ca7e-7dac-11ec-80fc-0cc47aab8067,c91e3407-b81f-11e9-80cf-0cc47aab8067,1976-10-24,Женский,Женский,2022-01-25,Периодический,Периодический,False,23c173a7-30d9-11e7-80d8-708bcd7f83cd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2ee1f9ac-83dd-11ec-80fc-0cc47aab8067,1a1a5fea-8b7f-11eb-80e8-0cc47aab8067,1987-11-18,Мужской,Мужской,2022-02-02,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9cbb191e-8e24-11ec-80fe-0cc47aab8067,7fe324e0-fa51-11eb-80f6-0cc47aab8067,1985-09-08,Мужской,Мужской,2022-02-15,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b8a33910-8eec-11ec-80fe-0cc47aab8067,98f9d761-8d65-11ec-80fe-0cc47aab8067,1988-04-25,Мужской,Мужской,2022-02-16,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0bb0d181-938c-11ec-80fe-0cc47aab8067,009aac7d-7bcf-11eb-80e8-0cc47aab8067,1984-04-17,Мужской,Мужской,2022-02-22,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_orginal.shape

(1982, 4587)

In [4]:
df_my = df_orginal.copy()
df_my.shape

(1982, 4587)

In [5]:
#Удалим строки с ошибками заполнения
count_ind = df_my.shape[0]
for str1 in ('машинист бульдозера', 'Газоспасатель',' Газоспасатель'):
    df_my = df_my.drop(df_my[df_my['ЗаключениеМК'] == str1].index)
df_my.shape

(1978, 4587)

In [6]:
 # Удаляю пустые строки 
df_my = df_my.drop(df_my[df_my['ЗаключениеМК'].isna()].index)
df_my.shape

(1571, 4587)

In [7]:

#Удаляю пустые столбцы
df_my.dropna(axis=1, how='all', inplace = True)
df_my.shape

(1571, 3578)

In [9]:
 # Удаляю строки из основного набора
df_my.drop(['Клиент', 'ДокументПрохождениеМедосмотра', 'ТипМедосмотра', 'ТипМедосмотраПредставление', 'ПсихОсвидетельствование', 'Контрагент',  'Рентгенология1_ДатаПриема', 'Рентгенология2_ДатаПриема', 'ПсихиатрияНаркология1_ДатаПриема', 'Терапия1_Врач_Значение', 'Терапия1_ПовышеннойВлажности_Значение', 'Терапия1_Сухие_Значение', 'Терапия1_Бледные_Значение', 'Терапия1_Чистый_Значение', 'Терапия1_ОбложенБелым_Значение', 'Терапия1_ОбложенЖелтоватоБелымНалетом_Значение', 'Терапия1_ОбложенЖелтоватоЗеленымНалетом_Значение', 'Терапия1_Гиперемированный_Значение', 'Терапия1_Отечный_Значение', 'Терапия1_Везикулярное_Значение', 'Терапия1_Жесткое_Значение', 'Терапия1_Ослабленное_Значение', 'Терапия1_Нет_Значение', 'Терапия1_Разнокалиберные_Значение', 'Терапия1_Мелкопузырчатые_Значение', 'Терапия1_Крупнопузырчатые_Значение', 'Терапия1_Крепетирующие_Значение', 'Терапия1_Ритмичные_Значение', 'Терапия1_Аритмичные_Значение', 'Терапия1_Ясные_Значение', 'Терапия1_Приглушенные_Значение', 'Терапия1_Болезненный_Значение', 'Терапия1_Безболезненный_Значение', 'Терапия1_Мягкий_Значение'], axis= 1 , inplace= True )
df_my.shape

(1571, 3544)

In [10]:
# Удаляю все стобцы с "Представление" в названии
for col in df_my.columns:
    if "Представление" in col:
      df_my.pop(col)
df_my.shape

(1571, 1864)

In [11]:
df_my['ДатаЗавершенияМедосмотра']

0      2022-01-25
1      2022-02-02
2      2022-02-15
3      2022-02-16
4      2022-02-22
          ...
1961   2022-11-30
1962   2022-11-30
1972   2022-11-30
1973   2022-11-30
1981   2022-12-02
Name: ДатаЗавершенияМедосмотра, Length: 1571, dtype: datetime64[ns]

In [12]:
# Удаляю все стобцы с "Дата" в названии кроме 'ДатаЗавершенияМедосмотра'
i = 0
for col in df_my.columns:
    if ("Дата" in col) and (col != 'ДатаЗавершенияМедосмотра') :
      df_my.pop(col)
df_my.shape

(1571, 1792)

In [ ]:
# Выгружаю 
df_my.to_excel('df_my.xlsx')

Дальше работал в ручную с оставлимся списком. Удалял столбцы которые не просто мало заполнены, но и по смыслу не имеют значения. Прямым перебором

Давление - можно регулярками отобрать только верхнее, т.к. нижнее в больштнстве строк не указано

Нужна ли колонка "Клиент"???
В некоторых столбцах есть редкие заключения, но они могут же сразу иметь противопоказания к работе. Что с ними делать? С одной стороны это для НС выглядит как выброс, а с другой это может быть четким противопоказанием.

По персональному заданию- корреляция.. работает только на цифровые значения, которых я таблице практически нет.

## Третья неделя

In [15]:
#Просмотрим числовые данные 
num_df = df_my.select_dtypes(include = ['float64', 'int64'])
num_df

,ПсихиатрияНаркология1_Профессиональное1,ПсихиатрияНаркология1_Чистая_Значение,ПсихиатрияНаркология1_СоСледамиВВИнъекций_Значение,ПсихиатрияНаркология1_Контактен_Значение,ПсихиатрияНаркология1_НеКонтактен_Значение,ПсихиатрияНаркология1_Адекватен_Значение,ПсихиатрияНаркология1_НеАдекватен_Значение,Офтальмология1_Профессиональное1,Офтальмология1_ДискиЗрительныхНервовБледноРозовые_Значение,Офтальмология1_ГраницыЧеткие_Значение,...,ТерапевтНеИсп1_П_Значение,ТерапевтНеИсп1_Рост_Значение,ТерапевтНеИсп1_Вес_Значение,ТерапевтНеИсп1_ТемператураТелаТерапевт_Значение,ТерапевтНеИсп1_ИМТ_Значение,ТерапевтНеИсп1_АртериальноеДавление21_Значение,ТерапевтНеИсп1_Сатурация_Значение,Терапия3_ОбщийХолестерин_Значение,Терапия4_ОбщийХолестерин_Значение,Гинекология2_Выкидышей_Значение
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1961,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
mk_df = df_my.copy()
print(mk_df.shape)

mk_df['ЗаключениеМК'].unique()

(1571, 1792)

array(['Годен', 'ГоденСКоррекциейЗрения', 'ГоденБезРаботНаВысотах',
       'НуждаетсяВДообследованииИЛечении', 'ВременноНегоден',
       'ОграниченноГоден'], dtype=object)

In [34]:
# Заменяю значения в стобце 'ЗаключениеМК' на 1 и 0   для просмотра кореляции 
mk_df.loc[ mk_df['ЗаключениеМК'] == 'Годен', 'ЗаключениеМК'] = 1
mk_df.loc[ mk_df['ЗаключениеМК'] != 1, 'ЗаключениеМК'] = 0
num_df = num_df.astype({"ЗаключениеМК": int})
print(mk_df.shape)
print(mk_df['ЗаключениеМК'])

(1571, 1792)
0       1
1       1
2       0
3       1
4       0
       ..
1961    1
1962    1
1972    1
1973    1
1981    1
Name: ЗаключениеМК, Length: 1571, dtype: object

In [ ]:
'''
num_df['ЗаключениеМК'] = mk_df['ЗаключениеМК']
num_df.dtypes
cor_df = num_df.corr()
cor_df
'''

In [67]:
# Корреляция столбца 'ЗаключениеМК'  с другими столбцами имеющими числовые значения
# Кендалл 
cor_df = num_df.corrwith(num_df['ЗаключениеМК'], method = 'kendall')
print(cor_df.shape)
kendall_df = cor_df.dropna(axis=0, how='all', inplace = False)
print(kendall_df.shape)
display(kendall_df)

(261,)
(72,)

ПсихиатрияНаркология1_Контактен_Значение                      0.333333
ПсихиатрияНаркология1_Адекватен_Значение                      0.333333
Офтальмология1_ДискиЗрительныхНервовБледноРозовые_Значение    0.009568
Офтальмология1_ГраницыЧеткие_Значение                         0.009568
Оториноларингология1_ЗаДужками_Значение                      -0.019501
                                                                ...
ТерапевтНеИсп1_Рост_Значение                                  0.212132
ТерапевтНеИсп1_Вес_Значение                                   0.000000
ТерапевтНеИсп1_ИМТ_Значение                                  -0.276026
ТерапевтНеИсп1_АртериальноеДавление21_Значение               -0.300000
ЗаключениеМК                                                  1.000000
Length: 72, dtype: float64

In [68]:
# Спирмена 
cor_df = num_df.corrwith(num_df['ЗаключениеМК'], method = 'spearman')
print(cor_df.shape)
spearman_df = cor_df.dropna(axis=0, how='all', inplace = False)
print(spearman_df.shape)
display(spearman_df)

(261,)
(72,)

/usr/local/lib/python3.10/dist-packages/scipy/stats/_stats_py.py:4916: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))

ПсихиатрияНаркология1_Контактен_Значение                      0.333333
ПсихиатрияНаркология1_Адекватен_Значение                      0.333333
Офтальмология1_ДискиЗрительныхНервовБледноРозовые_Значение    0.009568
Офтальмология1_ГраницыЧеткие_Значение                         0.009568
Оториноларингология1_ЗаДужками_Значение                      -0.019501
                                                                ...
ТерапевтНеИсп1_Рост_Значение                                  0.239317
ТерапевтНеИсп1_Вес_Значение                                   0.000000
ТерапевтНеИсп1_ИМТ_Значение                                  -0.316228
ТерапевтНеИсп1_АртериальноеДавление21_Значение               -0.300000
ЗаключениеМК                                                  1.000000
Length: 72, dtype: float64

In [69]:
# Пирсон  
cor_df = num_df.corrwith(num_df['ЗаключениеМК'], method = 'pearson')
print(cor_df.shape)
pearson_df = cor_df.dropna(axis=0, how='all', inplace = False)
print(pearson_df.shape)
display(pearson_df)

(261,)
(73,)

/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2821: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2680: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

ПсихиатрияНаркология1_Контактен_Значение                      0.333333
ПсихиатрияНаркология1_Адекватен_Значение                      0.333333
Офтальмология1_ДискиЗрительныхНервовБледноРозовые_Значение    0.009568
Офтальмология1_ГраницыЧеткие_Значение                         0.009568
Оториноларингология1_ЗаДужками_Значение                      -0.019501
                                                                ...
ТерапевтНеИсп1_Рост_Значение                                  0.217609
ТерапевтНеИсп1_Вес_Значение                                  -0.012771
ТерапевтНеИсп1_ИМТ_Значение                                  -0.441009
ТерапевтНеИсп1_АртериальноеДавление21_Значение               -0.300000
ЗаключениеМК                                                  1.000000
Length: 73, dtype: float64

In [59]:
cor_df.to_excel('cor_df.xlsx')